<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 <!-- Appenders -->
 <appender name="console" class="org.apache.log4j.ConsoleAppender">
  <param name="Target" value="System.out" />
  <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="%-5p: %c - %m%n" />
  </layout>
 </appender>
 <appender name="console1" class="org.apache.log4j.ConsoleAppender">
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern" value="%d %5p [%c] %m %n" />
  </layout>
 </appender>
  <appender name="console2" class="org.apache.log4j.ConsoleAppender">
  <layout class="org.apache.log4j.PatternLayout">
   <param name="ConversionPattern" value="%d %5p %m %n" />
  </layout>
 </appender>
 <!-- Application Loggers -->
 <logger name="com.kte.mvc">
  <level value="info" />
 </logger>
 <!-- 3rdparty Loggers -->
 <logger name="org.springframework.core">
  <level value="info" />
 </logger>
 <logger name="org.springframework.beans">
  <level value="info" />
 </logger>
 <logger name="org.springframework.context">
  <level value="info" />
 </logger>
 <logger name="org.springframework.web">
  <level value="info" />
 </logger>
 <!-- query logger --> 
 <!-- SQL명령문이 출력됨 ex) SELECT * FROM 테이블 -->
 <logger name="jdbc.sqlonly" additivity="false">
  <level value="info" />
  <appender-ref ref="console2" />
 </logger>
 <!-- SQL된 결과값이 출력됨 -->
 <logger name="jdbc.resultsettable" additivity="false">
  <level value="info" />
  <appender-ref ref="console1" />
 </logger>
 <!-- Root Logger -->
 <root>
  <priority value="warn" />
  <appender-ref ref="console" />
 </root>
</log4j:configuration>